.signin{
 outline: solid black;
 padding: 10px;
 border-radius: 50px;
 display: inline-block;
 text-align: center;
 width: 85%;
 margin-right: 7.5%;
 margin-left: 7.5%;
}
#logo{
 text-align: center;
 background-color: pink;
}